.moviescard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #222222;
  color: #fff;
  box-shadow: 0px 16px 24px 0px #0000000D;

}

.moviescard__pic {
  height: 151px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1/1;
}

.moviescard__title-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 14px 12px 10px;
}

.moviescard__title {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.moviescard__like {
  width: 16px;
  height: 16px;
}

.moviescard__movie-length {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  color: #8B8B8B;
  margin: 0 0 14px 12px;
}

@media screen and (max-width: 850px) {
  .moviescard__pic {
    height: 190px;
  }
}

@media screen and (max-width: 620px) {}
