.promo {
  background-color: #073042;

}

.promo__container {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: start;
  padding: 149px 70px 75px 70px;
  max-width: 1280px;
  background-image: url(../../images/promo_image.svg);
  background-repeat: no-repeat;
  background-position: top 149px right 70px;
}

.promo__title {
  white-space: collapse balance;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  max-width: 640px;
  margin: 0 0 36px 0;

}

.promo__subtitle {
  color: #FFF;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.73px;
  opacity: 0.5;
  max-width: 310px;
  margin: 0 0 146px 0;
}

.promo__button {
  cursor: pointer;
  max-width: 130.95px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #FFF;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.6;
  padding: 10px 20px;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.promo__button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 850px) {
  .promo__container {
    padding: 149px 44px 75px 44px;
    min-height: 924px;
    max-width: 768px;
    background-position: top 214px right 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .promo__subtitle {
    margin-bottom: 92px;
  }

  .promo__title {
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 50px;

  }
}

@media screen and (max-width: 620px) {
  .promo__title {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.04em;
    margin-bottom: 24px;


  }

  .promo__container {
    padding: 0 10px 30px 10px;
    min-height: 710px;
    max-width: 768px;
    background-position: top 144px right 50%;
    background-size: 210px 206px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .promo__subtitle {
    margin-bottom: 80px;
    max-width: 260px;
  }

}
